.normal-list-item-card.normal-list-item-card {
  border: 3px solid #716F70;
  background: #CFCDCE;
  color: black;
  padding: 10px;
}

.sorted-list-item-card.sorted-list-item-card {
  border: 3px solid green;
  background: lightgreen;
  color: black;
  padding: 10px;
}

.working-list-item-card.working-list-item-card {
  border: 3px solid #907000;
  background: #fad749;
  color: black;
  padding: 10px;
}

.list-item-card-grid.list-item-card-grid {
  display: flex;
  gap: 0.5em; /* TODO: make this smarter later */
}

.list-item-card-grid.list-item-card-grid > * {
  flex: 0 0 1em;
  text-align: center;
}

.internals-dashboard.internals-dashboard {
  background: black;
  padding: 1em;
  margin-top: 1em;
  color: #00ff00;
  font-size: 0.8em;
  font-family: monospace; 
}
.state-value.state-value {
  color: #fe019a;
  font-weight: bold;
}

.arrow-up {
  --size: 1em;
  width: 0; 
  height: 0; 
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  
  border-bottom: var(--size) solid maroon;
  margin: 0.25em;
}
.arrow-empty {
  --size: 1em;
  width: var(--size);
  width: 0;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  
  border-bottom: var(--size) solid transparent;
  margin: 0.25em;

}
.pointer-indicator.pointer-indicator {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-content: center;
  
}
.pointers-row.pointers-row {
  display: flex;
  flex-direction: row;
  
}
