.normal-list-item-card.normal-list-item-card {
  border: 3px solid #716F70;
  background: #CFCDCE;
  color: black;
  padding: 10px;
}

.sorted-list-item-card.sorted-list-item-card {
  border: 3px solid green;
  background: lightgreen;
  color: black;
  padding: 10px;
}

.working-list-item-card.working-list-item-card {
  border: 3px solid #907000;
  background: #fad749;
  color: black;
  padding: 10px;
}

.list-item-card-grid.list-item-card-grid {
  display: flex;
  gap: 10px; /* TODO: make this smarter later */
}

.internals-dashboard.internals-dashboard {
  background: black;
  padding: 1em;
  margin-top: 1em;
  color: #00ff00;
  font-size: 0.8em;
  font-family: monospace; 
}

